
<div class="container my-5 single_student">
    <div class="row">
        <div class="col-md-6 m-auto">
            <a class="btn btn-dark mb-3 add_btn" href="/">Back</a>
            <div class="card shadow">
                <div class="card-header">
                    <h1>Profile</h1>
                </div>
                <div class="card-body">
                       <div class="p_img text-center">
                       
                           <img src="https://image.shutterstock.com/image-photo/nature-picture-looking-beautiful-this-260nw-1552406618.jpg" alt="">
                    
                    </div>
                 
                   <div class="p_data">
                    <p><b>Name :</b> <%= single_stu_data.name %> </p>
                    <p><b>Email :</b> <%= single_stu_data.email %> </p>
                    <p><b>Phone :</b> <%= single_stu_data.cell %> </p>
                    <p> <b>Location :</b> <%= single_stu_data.location %> </p>
                   </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>